* {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: lightblue;
}

header .mainSearch {
  display: flex;
  align-items: center;
}

header .mainSearch .logo {
  padding: 1rem;
  font-size: 3rem;
  color: royalblue;
}

header .mainSearch .logo:hover {
  color: darkblue;
}

header .mainSearch .searchInput {
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0 1rem;
  border-color: beige;
}

header .mainSearch .searchInput:focus {
  border: 0.25rem solid teal;
}

header .mainNavigation .navigation,
header .links {
  display: flex;
}

header .mainNavigation .navigation > li > a {
  border-radius: 50%;
  background-color: aquamarine;
  margin: 0 0.35rem;
  display: flex;
}

header .mainNavigation .navigation > li > a:hover {
  background-color: teal;
  border: 1px solid royalblue;
}

.navIcons {
  font-size: 3rem;
  color: royalblue;
  margin: 0 0.5rem;
}

.navIcons:hover {
  color: white;
}

.bellIcon {
  position: relative;
  display: block;
}

.bellIcon span {
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9rem;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.leftContent,
.rightContent {
  width: 20%;
  border: 5px solid black;
  overflow: auto;
  height: calc(100vh - 5rem);
  position: fixed;
}

.leftContent {
  left: 0;
}

.rightContent {
  right: 0;
}

.mainContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mainContent .post {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.mainContent .post .postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent .post .postHeader .profileUserInfo {
  display: flex;
  align-items: center;
}

/* .mainContent .post .postHeader .profileUserInfo .profileImage {
    width: 3rem;
    border-radius: 50%;
} */

.profileImage {
  width: 3rem;
  border-radius: 50%;
}

.mainContent .post .postHeader .profileUserInfo .profileName {
  display: flex;
  flex-direction: column;
}

.mainContent .post .postHeader .profileOptions {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent .post .postHeader .profileOptions:hover {
  background-color: lightgray;
}

.mainContent .post .content .imgWrapper .imgContent {
  max-width: 100%;
}

.mainContent .post .content .imgWrapper {
  position: relative;
}

.mainContent .post .content .imgWrapper .infoIcon {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  background-color: grey;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.content .postTitle {
  padding: 1rem;
}

.content .readMoreButton {
  width: 100px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content .postDescription {
  padding: 1rem;
  margin: 0;
}

.post .reacts {
  display: flex;
  justify-content: space-between;
}

.post .reacts .reactsIcon {
  color: blue;
}

.post .reactsActions .actions {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.post .reactsActions .actions .reaction {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: royalblue;
  border-radius: 1rem;
}

.post .reactsActions .actions .reaction:hover {
  color: teal;
  background-color: lightblue;
}

.post .commentSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
}

.post .commentSection .newCommentField {
  width: 75%;
  border-radius: 0.25rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-color: #bbdcfa;
}

.post .commentSection .newCommentField::placeholder {
  color: royalblue;
}

.post .commentSection .newCommentField:hover {
  background-color: #c0ddf6;
  width: 80%;
}

.post .commentSection .newCommentField:focus {
  border: 3px solid royalblue;
}

.post .commentSection .insertCommentButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
}

.post .commentSection .insertCommentButton:hover {
  color: royalblue;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

.userComments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userComments .profileUserComment {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
  gap: 0.5rem;
}

.userComments .userCommentText {
  margin: 0 1rem;
  border: 1px solid #888;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 1rem;
  position: relative;
}

.userComments .userCommentText:hover {
  animation-name: comment-animation;
  animation-duration: 1s;
}

.userComments .userCommentText .emojiReaction {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

.userComments .commentContent .commentReaction {
  margin-left: 3rem;
  color: #888;
  display: flex;
  gap: 0.75rem;
}

.userComments .commentContent .commentReaction .commentReactionButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post .commentSection .insertCommentButton {
  /* min-width: 300px; */
  /* min-height: 60px; */
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.post .commentSection .insertCommentButton::before {
  content: "";
  border-radius: 50%;
  min-width: calc(75px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.post .commentSection .insertCommentButton:hover,
.post .commentSection .insertCommentButton:focus {
  color: #313133;
  transform: translateY(-2px);
}

.post .commentSection .insertCommentButton:hover::before,
.post .commentSection .insertCommentButton:focus::before {
  opacity: 1;
}

.post .commentSection .insertCommentButton::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.post .commentSection .insertCommentButton:hover::after,
.post .commentSection .insertCommentButton:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 75px;
    height: 75px;
    opacity: 0;
  }
}

@keyframes comment-animation {
  from {
    left: -2rem;
  }

  to {
    left: 0rem;
  }
}
